.post_nav {
  width: 100%;
  height: 44px;
  background-color: #ffffff;
  border-bottom: 0.5px solid #dbdbdb;
}

.post_nav img {
  float: right;
  width: 26px;
  height: 26px;
  margin: 8px;
}

.postList {
  margin-bottom: 94px;
}
