.section {
  margin-bottom: 6px;
  background-color: #fff;
  padding: 20px 21px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 16px;
}

.productWrap {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: scroll;
  padding-bottom: 7px;
}
