.img_wrap {
  position: relative;
}

.btn_x {
  position: absolute;
  right: 3%;
  top: 3%;
  width: 22px;
  height: 22px;
}

.img_single {
  box-sizing: border-box;
  width: 304px;
  height: 228px;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
}
