.main {
  padding: 20px 16px;
  display: grid;
  grid-template-columns: 42px 1fr;
  gap: 12px;
}

.profile_wrap {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  border: 0.5px solid #bdbdbd;
}

.img_profile {
  width: 42px;
  height: 42px;
}

.content_text {
  margin-top: 12px;
  resize: none;
  width: 100%;
  border: none;
  font-size: 14px;
  line-height: 18px;
}

.content_text:focus {
  outline: none;
}

.imgs_wrap {
  display: flex;
  width: 304px;
  overflow-x: auto;
  gap: 8px;
}

.imgs_wrap::-webkit-scrollbar {
  display: none;
}

.img_upload_btn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}
