.prfileSection {
  margin-bottom: 6px;
  background-color: #fff;
}

.profile_wrap {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 30px 56px 16px 56px;
}

.profile_num {
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
}

.profile_txt {
  font-size: 10px;
  line-height: 12px;
}

.profile_img {
  position: relative;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
}

.profile_img img {
  position: absolute;
  width: 220px;
  left: -50%;
  top: -10%;
}

.profile_container {
  text-align: center;
}

.profile_name {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.profile_id {
  font-size: 12px;
  line-height: 14px;
  color: #767676;
  margin-bottom: 16px;
}

.profile_info {
  font-size: 14px;
  line-height: 18px;
  color: #767676;
}

.profile_link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 0;
  gap: 17px;
}

.fallow {
  background-color: #f26e22;
  width: 120px;
  color: #fff;
  border-radius: 30px;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 0;
  cursor: pointer;
  border: none;
}

.unfallow {
  background-color: #fff;
  width: 120px;
  border: 1px solid #767676;
  color: #767676;
  border-radius: 30px;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 0;
  cursor: pointer;
}

.iconWrap {
  border: 1px solid #bdbdbd;
  border-radius: 30px;
  padding: 7px;
}

.iconImg {
  display: block;
  width: 20px;
  height: 20px;
}
